# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
*.db
*.db-journal
prisma/dev.db
prisma/dev.db-journal

# Prisma migrations (solo desarrollo local)
prisma/migrations/dev/

# Generated Prisma Client (si usas output personalizado)
/generated/prisma
/src/generated/client

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# TypeScript build info
*.tsbuildinfo

# Documentacion temporal
/docss
cambios.patch
/generated/prisma
/.scannerwork

# TypeDoc generated documentation
/public/docs
